body{
background-color: 005461;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #3BC1A8;
}
.heading{
border: 2px dotted #3BC1A8;
width: fit-content;
 padding: 5px 10px
}
.catspic{
border:5px solid #3BC1A8;
border-radius: 15px;

}

